body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.usa-banner__header {
  display: flex;
}

.border-top {
  border-top: 1px solid #cedced;
}
.btn-block {
width: 100%;
}
.usa-alert__heading {
font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
font-size: 1.2em;
}
#mapid { height: 180px; }
.leaflet-container {
  width: 100%;
  height: 270px;
}
body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}